.divBody{
    text-align: center;
    background: darkgrey;
    
    width: 99%;
    height: 6%;
    
    position: absolute;
    bottom:0px;
    display: none;
}

/* play button style*/
.playBtn {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Courier New;
  color: #fffcff;
  font-size: 100%;
  background: #9c2194;
  padding: 0px 1% 0px 1%;
  text-decoration: none;
  height: 100%;
  width: 9%;
  position: absolute;
  left: 45.5%
}

.playBtn:hover {
  background: #3bd11e;
  text-decoration: none;
}

.undoBtn {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Courier New;
  color: #fffcff;
  font-size: 100%;
  background: #9c2194;
  padding: 0px 1% 0px 1%;
  text-decoration: none;
  height: 100%;
  width: 9%;
  position: absolute;
  left: 55.5%
}

.undoBtn:hover {
  background: #40E0D0;
  text-decoration: none;
}

/* pause button style*/
.quitBtn {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Courier New;
  color: #fffcff;
  font-size: 100%;
  background: #9c2194;
  padding: 0px 1% 0px 1%;
  text-decoration: none;
  height: 100%;
  width: 9%;
  position: absolute;
  left: 65.5%
}

.quitBtn:hover {
  background: #fc0505;
  text-decoration: none;
}

/*reset button style*/
.resetBtn {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Courier New;
  color: #fffcff;
  font-size: 100%;
  background: #9c2194;
  padding: 0px 1% 0px 1%;
  text-decoration: none;
  height: 100%;
  width: 9%;
  position: absolute;
  left: 35%
}

.resetBtn:hover {
  background: #f4fc05;
  text-decoration: none;
}

/*THIS IS THE WEAPON MENU*/
#weaponMenu {
  bottom: 6.5%;
  left: 1%;
  position: absolute;
  width: 100%;
  height: 100%;
  
}

/*THIS IS THE DIRECTION MENU*/
#directionMenu {
  bottom: 6.5%;
  left: 95%;
  position: absolute;
  width: 100%;
  height: 100%;
}