/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2016, 5:56:49 PM
    Author     : William
*/

/*THIS IS THE LEVEL MAKER INFO BOX*/
.lm_info_box {
  
  width: 25%;
  height: 100%;
  color: white;
  text-align: center;
  /*border-style: solid;*/
  /*border-color: #7b1fa2;*/
  /*border-width: 3px;*/
  /*padding-left: 2%;*/
  /*padding-right: 2%;*/
  right: 0px;
  bottom: 0px;
  position:absolute;
    
  background : rgba(123, 31, 162, 0.7);
}

/*button properties*/
.bottomButton{
    border : solid 0px #fff700;
    border-radius : 11px;
    moz-border-radius : 11px;
    -webkit-box-shadow : 0px 0px 10px rgba(168,45,168,1.0);
    -moz-box-shadow : 0px 0px 10px rgba(168,45,168,1.0);
    box-shadow : 0px 0px 10px rgba(168,45,168,1.0);
    font-size : 20px;
    color : #ffffff;
    padding : 1px 17px;
    background : #c72cb5;
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c72cb5), color-stop(0%,#e3ade3), color-stop(100%,#621666));
    background : -moz-linear-gradient(top, #c72cb5 0%, #e3ade3 0%, #621666 100%);
    background : -webkit-linear-gradient(top, #c72cb5 0%, #e3ade3 0%, #621666 100%);
    background : -o-linear-gradient(top, #c72cb5 0%, #e3ade3 0%, #621666 100%);
    background : -ms-linear-gradient(top, #c72cb5 0%, #e3ade3 0%, #621666 100%);
    background : linear-gradient(top, #c72cb5 0%, #e3ade3 0%, #621666 100%);
    filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#c72cb5', endColorstr='#621666',GradientType=0 );
}

/*button color change when hovered over*/
.bottomButton:hover{
  background: #3bd11e;
  text-decoration: none;
}

/*button anitmation when clicked*/
.bottomButton:active {
  background-color: #3bd11e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
