/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2016, 6:28:24 PM
    Author     : yane1_000
*/

.c-tabs-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-tabs-nav__link {
  flex: 1;
  margin-right: 0%;
  padding: 2%;
  color: #fff;
  background-color: #b3b3b3;
  text-align: center;
  transition: color 0.3s;
}

.c-tabs-nav__link:last-child {
  margin-right: 0;
}

.c-tabs-nav__link:hover {
  color: #701af2;
}

.c-tabs-nav__link.is-active {
  color: #4d10a8;
  background-color: #e7e7e7;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.c-tabs-nav__link i {
  font-size: 18px;
}

.c-tabs-nav__link span {
  display: none;
  font-size: 120%;
}

@media all and (min-width: 720px) {
  .c-tabs-nav__link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .c-tabs-nav__link span {
    display: block;
  }
}

/**
 * Tab
 */
.c-tab {
  display: none;
  background-color: #e7e7e7;
  height: 67.7vh;
}

.c-tab.is-active {
  display: block;
  height: 67.7vh;
}

.c-tab__content {
  padding: 1.5rem;
  height: 67.7vh;
}

a.button {
  font-size: 20%;
  display: inline-block;
  color: white;
  padding: 1.5% 6%;
  text-align: center;
  text-decoration: none;
  background-color: #800080;
  border: none;
  border-radius: 10%;
}

img.levelImg {
    width: 200%;
    height: 200%;
}

button.levelButton{
    width: 200%;
    height: 200%;
}


.level1 {
  height: 7%;
  width: 8%;
  font-size: 130%;
  display: inline-block;
  color: purple;
  padding: 1.5% 6%;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 10%;
  left: 10%;
  top: 25%;
  position:absolute;
}

.level1 img {
  width: 100%;
  height: 100%;
}

.level2 {
  height: 7%;
  width: 8%;
  font-size: 130%;
  display: inline-block;
  color: purple;
  padding: 1.5% 6%;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 10%;
  left: 35%;
  top: 25%;
  position:absolute;
  
}


.level2 img {
  width: 100%;
  height: 100%;
}

.level3 {
  height: 7%;
  width: 8%;
  font-size: 130%;
  display: inline-block;
  color: purple;
  padding: 1.5% 6%;
  text-align: center;
  text-decoration: none;
 
  border: none;
  border-radius: 10%;
  left: 60%;
  top: 25%;
  position:absolute;
  
}

.level3 img {
  width: 100%;
  height: 100%;
}

.level4 {
  height: 7%;
  width: 8%;
  font-size: 130%;
  display: inline-block;
  color: purple;
  padding: 1.5% 6%;
  text-align: center;
  text-decoration: none;
 
  border: none;
  border-radius: 10%;
  left: 10%;
  bottom: 15%;
  position:absolute;
  
}

.level4 img {
  width: 100%;
  height: 100%;
}

.level5 {
  height: 7%;
  width: 8%;
  font-size: 130%;
  display: inline-block;
  color: purple;
  padding: 1.5% 6%;
  text-align: center;
  text-decoration: none;
 
  border: none;
  border-radius: 10%;
  left: 35%;
  bottom: 15%;
  position:absolute;
  
}

.level5 img {
  width: 100%;
  height: 100%;
}

.level6 {
  height: 7%;
  width: 8%;
  font-size: 130%;
  display: inline-block;
  color: purple;
  padding: 1.5% 6%;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 10%;
  left: 60%;
  bottom: 15%;
  position:absolute;
  
}

.level6 img {
  width: 100%;
  height: 100%;
}

